@font-face {
    font-family: 'nanumbarunpenb';
    src: url('../font/nanumbarunpenb.eot');
    src: url('../font/nanumbarunpenb.eot?#iefix') format('embedded-opentype'),
         url('../font/nanumbarunpenb.woff2') format('woff2'),
         url('../font/nanumbarunpenb.woff') format('woff'),
         url('../font/nanumbarunpenb.ttf') format('truetype'),
         url('../font/nanumbarunpenb.svg#nanumbarunpenb') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nanumbarunpenr';
    src: url('../font/nanumbarunpenr.eot');
    src: url('../font/nanumbarunpenr.eot?#iefix') format('embedded-opentype'),
         /*url('../font/nanumbarunpenr.woff2') format('woff2'),*/
         /*url('../font/nanumbarunpenr.woff') format('woff'),*/
         url('../font/nanumbarunpenr.ttf') format('truetype'),
         url('../font/nanumbarunpenr.svg#nanumbarunpenr') format('svg');
    font-weight: normal;
    font-style: normal;

}